body {
    font-family: roboto, sans-serif;
}

#body_cs {
    background-color: rgb(0, 225, 255);
}

h2 {
    text-align: center;
}

#body_amd {
    background-color: azure;
}

#body_x {
    background-color: rgb(209, 252, 241);
}